In [2]:
import pandas as pd

# Get POI Locations in Seoul

## Hospitals

In [135]:
df=pd.read_csv("../data/서울시 병의원 위치 정보.csv", encoding="cp949")
df.iloc[:5, :5]

       기관ID                                    주소 병원분류 병원분류명 응급의료기관코드
0  B1100027              서울특별시 강남구 봉은사로 612 (삼성동)    E  한방병원     G099
1  A1121157       서울특별시 강남구 선릉로 311 한티빌딩 3층 (역삼동)    C    의원     G099
2  A1102799  서울특별시 동작구 동작대로 89 602호 (사당동 골든시네마타워)    C    의원     G099
3  B1102501     서울특별시 강남구 학동로 421 205호 (청담동 원영빌딩)    G   한의원     G099
4  A1102454                   서울특별시 강남구 선릉로64길 23    C    의원     G099

In [136]:
df.columns

Index(['기관ID', '주소', '병원분류', '병원분류명', '응급의료기관코드', '응급의료기관코드명', '응급실운영여부(1/2)',
       '비고', '기관설명상세', '간이약도', '기관명', '대표전화1', '응급실전화', '진료시간(월요일)C',
       '진료시간(화요일)C', '진료시간(수요일)C', '진료시간(목요일)C', '진료시간(금요일)C', '진료시간(토요일)C',
       '진료시간(일요일)C', '진료시간(공휴일)C', '진료시간(월요일)S', '진료시간(화요일)S', '진료시간(수요일)S',
       '진료시간(목요일)S', '진료시간(금요일)S', '진료시간(토요일)S', '진료시간(일요일)S', '진료시간(공휴일)S',
       '우편번호1', '우편번호2', '병원경도', '병원위도', '작업시간'],
      dtype='object')

In [137]:
df1=df.loc[df['병원분류'] == 'A', ['병원분류명', '응급실운영여부(1/2)', '기관명', '병원경도', '병원위도']]
df1.head()

    병원분류명  응급실운영여부(1/2)          기관명        병원경도       병원위도
143  종합병원             1  강동경희대학교의대병원  127.157522  37.553476
229  종합병원             1       강북삼성병원  126.967938  37.568498
433  종합병원             1      건국대학교병원  127.072123  37.540845
484  종합병원             1         경찰병원  127.123488  37.496413
552  종합병원             1      경희대학교병원  127.051832  37.593877

In [138]:
df1=df.loc[df['병원분류'] == 'A', ['기관명', '병원경도', '병원위도']]
df1.head()

             기관명        병원경도       병원위도
143  강동경희대학교의대병원  127.157522  37.553476
229       강북삼성병원  126.967938  37.568498
433      건국대학교병원  127.072123  37.540845
484         경찰병원  127.123488  37.496413
552      경희대학교병원  127.051832  37.593877

In [139]:
df1.to_csv("hospital_locations.csv", encoding='utf-8', index=False)

## Logistics terminals

In [140]:
df=pd.read_excel("../data/물류터미널정보_220811.xls")
df.head()

       물류터미널명                         지역        규모       사업개시일
0         NaN                        NaN       NaN         NaN
1     동부물류터미널  서울특별시 동대문구 장안동 284-1 외4필지   19463.0  1975/08/10
2     서부트럭터미널   서울특별시 양천구 신정동 1315 외19필지  112111.0  1979/09/29
3  광주화물자동차터미널      광주광역시 북구 각화동 380 외2필지   35765.0  1983/03/04
4     진주화물터미널      경남 진주시 상대동 33-89 외1필지   21575.0  1987/01/31

In [141]:
df.columns

Index(['물류터미널명', '지역', '규모', '사업개시일'], dtype='object')

In [142]:
df = df.iloc[1:, :]

In [144]:
df.head()

       물류터미널명                         지역        규모       사업개시일
1     동부물류터미널  서울특별시 동대문구 장안동 284-1 외4필지   19463.0  1975/08/10
2     서부트럭터미널   서울특별시 양천구 신정동 1315 외19필지  112111.0  1979/09/29
3  광주화물자동차터미널      광주광역시 북구 각화동 380 외2필지   35765.0  1983/03/04
4     진주화물터미널      경남 진주시 상대동 33-89 외1필지   21575.0  1987/01/31
5     청주화물터미널   충북 청주시 흥덕구 지동동 476 외13필지   19654.0  1989/07/08

In [107]:
import requests, json

def get_location(address):
  url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
  # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
  # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
  headers = {"Authorization": "KakaoAK #RestAPI KEY#"}
  api_json = json.loads(str(requests.get(url,headers=headers).text))
  address = api_json['documents'][0]['address']
  crd = {"lat": str(address['y']), "lng": str(address['x'])}
  address_name = address['address_name']

  return crd

crd = get_location("제주 애월읍")
print(crd)

{'lat': '33.4621910539149', 'lng': '126.328972924341'}

In [108]:
df = df[df['지역'].apply(lambda x: '서울특별시' in x)]

In [109]:
df

    물류터미널명                         지역        규모       사업개시일
1  동부물류터미널  서울특별시 동대문구 장안동 284-1 외4필지   19463.0  1975/08/10
2  서부트럭터미널   서울특별시 양천구 신정동 1315 외19필지  112111.0  1979/09/29
6  한국트럭터미널          서울특별시 서초구 양재동 226   96017.0  1990/03/31

In [110]:
address = '서울특별시 동대문구 장안동 284-1'
headers = {"Authorization": "KakaoAK #RestAPI KEY#"}
url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
api_json = json.loads(str(requests.get(url,headers=headers).text))
address = api_json['documents'][0]['address']
crd = {"lat": str(address['y']), "lng": str(address['x'])}
crd

{'lat': '37.5803145392146', 'lng': '127.07412522911'}

In [111]:
import re

In [112]:
text=re.search(r'(\w+)\s(\w+)\s(\w+)\s(\w+)', '서울특별시 서초구 양재동 226')

In [113]:
text.group()

'서울특별시 서초구 양재동 226'

In [115]:
text.string

'서울특별시 서초구 양재동 226'

In [116]:
df['주소'] = df['지역'].apply(lambda x: re.search(r'([가-힣]+\s{1,}){3}([0-9-]+)', x).group())

C:\Users\shin\AppData\Local\Temp\ipykernel_5352\2789501830.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['주소'] = df['지역'].apply(lambda x: re.search(r'([가-힣]+\s{1,}){3}([0-9-]+)', x).group())

In [117]:
df

,물류터미널명,지역,규모,사업개시일,주소
1,동부물류터미널,서울특별시 동대문구 장안동 284-1 외4필지,19463.0,1975/08/10,서울특별시 동대문구 장안동 284-1
2,서부트럭터미널,서울특별시 양천구 신정동 1315 외19필지,112111.0,1979/09/29,서울특별시 양천구 신정동 1315
6,한국트럭터미널,서울특별시 서초구 양재동 226,96017.0,1990/03/31,서울특별시 서초구 양재동 226

In [122]:
df['경도'] = df['주소'].apply(lambda row: get_location(row)['lat'])
df['위도'] = df['주소'].apply(lambda row: get_location(row)['lng'])

C:\Users\shin\AppData\Local\Temp\ipykernel_5352\789426873.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['경도'] = df['주소'].apply(lambda row: get_location(row)['lat'])
C:\Users\shin\AppData\Local\Temp\ipykernel_5352\789426873.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['위도'] = df['주소'].apply(lambda row: get_location(row)['lng'])

In [128]:
df

,물류터미널명,지역,규모,사업개시일,주소,경도,위도
1,동부물류터미널,서울특별시 동대문구 장안동 284-1 외4필지,19463.0,1975/08/10,서울특별시 동대문구 장안동 284-1,37.5803145392146,127.07412522911
2,서부트럭터미널,서울특별시 양천구 신정동 1315 외19필지,112111.0,1979/09/29,서울특별시 양천구 신정동 1315,37.5094875441515,126.839240684286
6,한국트럭터미널,서울특별시 서초구 양재동 226,96017.0,1990/03/31,서울특별시 서초구 양재동 226,37.4610970914885,127.038076189381

In [126]:
df[['물류터미널명', '경도', '위도']].to_csv("logistic_location.csv", encoding='utf-8', index=False)

## Passenger terminals

In [129]:
df = pd.DataFrame({'여객터미널명': ['서울고속버스터미널', '센트럴시티', '서울남부터미널', '동서울종합터미널', '상봉터미널'],
                  '주소': ['서울특별시 서초구 신반포로 194 ',
                           '서울특별시 서초구 신반포로 176',
                           '서울특별시 서초구 효령로 292',
                           '서울특별시 광진구 구의동 546-1',
                           '서울특별시 중랑구 상봉동 83-8']})

In [131]:
df

      여객터미널명                   주소
0  서울고속버스터미널  서울특별시 서초구 신반포로 194
1      센트럴시티   서울특별시 서초구 신반포로 176
2    서울남부터미널    서울특별시 서초구 효령로 292
3   동서울종합터미널  서울특별시 광진구 구의동 546-1
4      상봉터미널   서울특별시 중랑구 상봉동 83-8

In [132]:
df['경도'] = df['주소'].apply(lambda row: get_location(row)['lat'])
df['위도'] = df['주소'].apply(lambda row: get_location(row)['lng'])

In [133]:
df

      여객터미널명                   주소                경도                위도
0  서울고속버스터미널  서울특별시 서초구 신반포로 194   37.5064357442307  127.006834366246
1      센트럴시티   서울특별시 서초구 신반포로 176  37.5039351769908  127.002413006799
2    서울남부터미널    서울특별시 서초구 효령로 292  37.4835466074664  127.015110886678
3   동서울종합터미널  서울특별시 광진구 구의동 546-1  37.5339176560567  127.093585434282
4      상봉터미널   서울특별시 중랑구 상봉동 83-8  37.5960840930719  127.092704589604

In [134]:
df.to_csv("passenger_location.csv", encoding='utf-8', index=False)